html,
body {
    margin: 0;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.divPai {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #0a0a2e;
}

.titulo {
    width: 70%;
    z-index: 2;
    position: absolute;
    bottom: 40%;
    text-align: center;
    text-justify: center;
    color: rgb(216, 219, 224);
    font-size: 6vw;
    mix-blend-mode: color-dodge;
}

.sobreposicao {
    z-index: 1;
    position: absolute;
    background: linear-gradient(180deg, #0D0D37 0%, rgba(13, 13, 55, 0.00) 68%, #0D0D37 100%);
    height: 100%;
    width: 100%;
}

.divGradient {
    overflow: hidden;
    background-color: #0a0a2e;
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
}

.divGradient2 {
    opacity: 0;
    overflow: hidden;
    background-color: #0a0a2e;
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
}



.gradient {
    background: conic-gradient(from 90deg at 50% 50%, #f1f1f1 0deg, black 6deg, #777777 100deg, #f4f4f4 360deg);
    mix-blend-mode: color-dodge;
    height: 130vh;
    flex: 1;
}

.gradDireita {
    transform: rotateY(180deg);
}

.gradient2 {
    background: conic-gradient(from 90deg at 50% 50%, #ececec 0deg, black 6deg, #777777 340deg, #f4f4f4 360deg);
    mix-blend-mode: color-dodge;
}

.divCards {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 200px;
    position: absolute;
    bottom: 50%;
}

.card {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #383838;
    mix-blend-mode: color-dodge;
}

.divObrigado {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(244, 248, 255);

    h1 {
        font-size: 15vw;
    }
}