@font-face {
    font-family: 'clash';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'clashR';
    src: url('assets/fonts/clash-display-font-1768824553-0/ClashDisplay-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3, p{
    font-family: 'clash', sans-serif;
}


.divPai {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #0D0D37;
}

.titulo {
    width: 70%;
    z-index: 2;
    position: absolute;
    bottom: 40%;
    text-align: center;
    text-justify: center;
    color: rgb(216, 219, 224);
    font-size: 6vw;
    mix-blend-mode: color-dodge;
}

.sobreposicao {
    z-index: 1;
    position: absolute;
    background: linear-gradient(180deg, #0D0D37 0%, rgba(13, 13, 55, 0.00) 68%);
    height: 100%;
    width: 100%;
}

.divGradient {
    overflow: hidden;
    background-color: #0a0a2e;
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
}

.divGradient2 {
    opacity: 0;
    overflow: hidden;
    background-color: #0a0a2e;
    width: 100vw;
    height: 100%;
    display: flex;
    position: absolute;
}



.gradient {
    background: conic-gradient(from 90deg at 50% 50%, #f1f1f1 0deg, rgb(24, 24, 24) 5deg, #777777 110deg, #f4f4f4 360deg);
    mix-blend-mode: color-dodge;
    height: 185vh;
    flex: 1;
}

.gradDireita {
    transform: rotateY(180deg);
}

.gradient2 {
    background: conic-gradient(from 90deg at 50% 50%, #ececec 0deg, black 5deg, #696969 350deg, #f0f0f0ec 360deg);
    mix-blend-mode: color-dodge
}

.divCards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 200px;
    position: absolute;
    bottom: 50%;
}

.card {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #383838;
    mix-blend-mode: color-dodge;
}

.divObrigado {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(244, 248, 255);

    h1 {
        font-size: 15vw;
    }
}